@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}

/* លាក់ Scrollbar សម្រាប់ផ្ទាំង Tools អណ្តែត */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}